.homeBtn {
  margin: 2rem;
}

.welcomeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5rem;
  padding: 2rem;
  /* background-color: #6c6f72; */
  /* color: #ffca2c; */
  border-radius: 10px;
}

.welcomeContainer h1 {
  border-bottom: 3px solid #ffca2c;
}
