.loaderCont {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    height: 100vh;

}

.loader2 {
    padding: 1rem;
    border-radius: 50%;
    max-width: 350px;
    max-height: 350px;
}